<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <%= paginate @support.documents(@organization, params[:page]) %>
  </div>
</div>
<div class="row">
  <% if @support.documents(@organization, params[:page]).any? %>
    <% @support.documents(@organization, params[:page]).each do |document|%>
      <div class="fetch-document best-product">
        <%= render document %>
      </div>
    <% end %>
  <% end %>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <%= paginate @support.documents(@organization, params[:page]) %>
  </div>
</div>
