<%= form_for [organization, team, support.build_member] do |f| %>
  <%= button_tag "", id: "btn-join-team", class: "btn btn-default btn-join-team" do %>
    <i class="fa fa-gratipay"></i>
    <span><%= t "team.join" %></span>
  <% end %>
<% end %>
