<div id="team-request">
  <div id="leave-team-request">
    <% if @member.present? %>
      <%= render partial: "shared/leave", locals: {member: @member} %>
    <% end %>
  </div>
  <div id="join-team-request">
    <% if @member.nil? %>
      <%= render partial: "shared/join", locals: {object: @team} %>
    <% end %>
  </div>
</div>

