<%= form_for([@organization, @team, @support.build_member],
  remote: true) do |f| %>
  <div><%= hidden_field_tag :id, current_user.id %></div>
  <%= button_tag "", class: "btn btn-default button-2" do %>
    <i class="fa fa-gratipay"></i>
    <span><%= t "team.join" %></span>
  <% end %>
<% end %>
