<ul class="nav nav-tabs">
  <li class="active">
    <a data-toggle="tab" href="#document"><%= t ".users.document" %></a>
  </li>
  <li>
    <a data-toggle="tab" href="#activity"><%= t ".users.activity" %></a>
  </li>
</ul>
<div class="tab-content">
  <div id="document" class="tab-pane fade in active">
    <div class="row">
      <%= render "document" %>
    </div>
  </div>
  <div id="activity" class="tab-pane">
    <div class="row" id="activity">
      <%= render "activity" %>
    </div>
  </div>
</div>
