<button class="btn btn-join"
  data-group-id="<%= object.id%>" data-group-type="<%= object.class.name.downcase %>">
  <i class="fa fa-plus" aria-hidden="true"></i>
  <span><%= t ".join" %></span>
</button>
