<button class="btn btn-default btn-destroy"
  data-group-id="<%= member.id %>" data-group-type="<%= member.group_type %>">
  <i class="fa fa-thumbs-o-down"></i>
  <% unless member.confirm? %>
    <span><%= t "team.unrequest" %></span>
  <% else %>
    <span><%= t "team.leave" %></span>
  <% end %>
</button>
