<div class="row" id="filter_documents">
  <%= form_tag documents_path, id: "form-submit", method: :get do %>
    <center><h2><%= t ".document" %></h2></center>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-4">
        <%= select_tag :category, options_for_select(load_categories.collect {|c|
          [c.name, c.id]}),
          {class: "btn btn-default cate", id: "cateajax",
          include_blank: t(".categories")} %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6"></div>
    </div>
  <% end %>
</div>
<div id="documents-list">
  <%= render partial: "/documents/document",
    locals: {documents: @documents} %>
</div>
