$grey: #bbb;
$blue_navbar: #27b899;
$orange_logo: #0d59af;
$orange_shadow: #df652d;
$violet_title: #1565C0;
$yellow_mail_border: #fbb005;
$white_mail_border: #fff;
$blue_mail_hover: #0d59af;
$gray_mail_p: #777;
$gray_mail_input: #A3A3A3;
$gray_mail_iframe: #D9D9D9;
$gray_footer: #ccc;
$light-blue: #2c3f50;
$dark-blue: #30415b;
$sky-blue: #21c2f8;
$light-gray: #CAC9C9;
$gray-border-bottom: #eee;
$gray-span: #Eee;
$black-left: #000;
$purple: #3c8dbc;
$black: #0A0A0A;
$strong_black: #040404;
$light_black: #171717;
$blue: #00c0ff;
$black_1: #030303;
$light_yellow: #dff0d8;
$green: #4CAF50;
$light_grey:#e3e5df;
$blue-weight: #30415b;
$blue-strong: #2c3f50;
$gray-small: #a0b1bb;
$green-strong: #1cbb9b;
$black-smooth: #455A64;
$gray_gray_weight: #9d9d9d;
$color_violet: #30415b;
$color_yellow: #13bfb1;
$color_red: #5ea9a2;
$color_green: #13bfb1;
$color_green_tea: #30415b;
$green_babana: #d4e8b6;
$pink_green: #ffe6cb;
$green_tea_1: #3c763d;
$gray_black: #292c2f;
$blue_sky_blur: #5383d3;
$gray_small: #8f9296;
$gray_tea: #33383b;
$gray_tea_blur: #92999f;
$white_face: #eaeaea;
$gray_face: #aaa;
$text-color: #666;
$info-text: #333;
$btn-text: #fff;
$navbar-hover: #ddd;
$red: #C52F24;
$red-hover: rgba(197, 47, 36, 0.6);
$green-hover: rgba(76, 175, 80, 0.6);
$dark-blue-hover: #6182b7;
$organization-bg-hover: #edf3ff;
