@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "variables";

footer.footer{
  margin-top: 25px;
  border-top: solid 1px $gray_footer;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 12px;
}
.btn.btn-default {
  border: solid 2px $dark-blue;
  font-size: 12px;
  font-weight: 900;
}

.btn.btn-default:hover {
  background: $dark-blue;
  color: white;
}

h2.text-center {
  color: $dark-blue;
  font-size: 36px;
  font-weight: 700;
  text-shadow: 4px 1px 1px lightblue;
  margin-bottom: 30px;
}

h2.tittle {
  text-align: center;
  font-size: 3em;
  color: $violet_title;
}

form#new_document .btn {
  transform: translateY(10px);
  width: 16.5%;
}

select#document_category_id {
  padding: 6px;
  background: white;
  transform: translateY(19px);
  width: 50%;
}

.product {
  border: solid 2px $light-blue;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

h2.best-sl.text-center {
  margin-top: 8%;
  margin-bottom: 4%;
}

h3.product_name {
  font-weight: 700;
  color: black;
}

.product img.img-responsive, .detail-product img.img-responsive {
  height: 204px;
}

.product .description.text-center {
  word-wrap: break-word;
}

.thumbnail:hover .view-detail-product {
  opacity: 1;
  top: 2px;
}

.view-detail-product {
  position: absolute;
  color: white;
  width: 97%;
  height: 208px;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  padding-top: 60px;
  top: -208px;
  transition: all ease 0.8s;
}

.view-detail-product a {
  color:  white;
}

.view-detail-product i {
  font-size: 16px;
  padding: 12px;
  margin-left: 10px;
  border: solid 1px;
  border-radius: 50%;
}

.view-detail-product i:hover {
  background: $sky-blue;
  border: solid 1px $sky-blue;
}

.thumbnail .description.text-center {
  height: 75px;
}

.thumbnail {
  border: none;
  position: relative;
  overflow: hidden;
}

.col-xs-6.col-sm-3.col-md-3.col-lg-3 {
  margin: 20px 0;
}

p.document-user-name {
  min-height: 39px;
}

.navbar-default .navbar-nav > li > a {
  color: white;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 16px;
}

nav.navbar.navbar-default.navbar-fixed-top {
  height: 108px;
  background: $black-smooth;
  border: none;
}

ul.nav.navbar-nav li.navc {
  border-top: 5px solid transparent;
  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 40px;
  margin-right: -14px;
}

ul.nav.navbar-nav li.navc:hover {
  border-color: white;
  color: white;
}

ul.nav.navbar-nav li.navc a:hover {
  color: rgb(204, 204, 204);
}

p.logo_f {
  color: white;
  font-size: 30px;
  font-weight: 700;
  text-shadow: 3px 1px 0.5px $gray_mail_p;
  transform: translateY(29px);
}

.top2 {
  background:rgba(245, 243, 243, 0.27);
}

li.dropdown.navc.open .dropdown-toggle {
  background: #252525;
  color: white;
}

nav.navbar.navbar-default.navbar-fixed-top span {
  color: white;
  font-size: 16px;
  margin-left: 24px;
}

#footer {
  background: $black-smooth;
  margin: 0;
  padding: 36px 0 42px;
  transform: translateY(69px);
}

#footer div {
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
  width: 960px;
}

#footer div p {
  color: white;
  float: left;
  line-height: 44px;
  margin: 0 0 0 10px;
  padding: 0;
}

#footer div ul {
  display: block;
  float: right;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 256px;
}

#footer div ul li {
  display: block;
  float: left;
  list-style: none;
  margin: 0 10px;
  padding: 0;
  width: 44px;
}

#footer div ul li a {
  background: url("icons.jpg") no-repeat 0 0;
  display: block;
  height: 44px;
  margin: 0;
  padding: 0;
  text-indent: -99999px;
  width: 44px;
}

#footer div ul li #twitter {
  background-position: 0 0;
}

#footer div ul li #twitter:hover {
  background-position: -44px 0;
}

#footer div ul li #facebook {
  background-position: 0 -44px;
}

#footer div ul li #facebook:hover {
  background-position: -44px -44px;
}

#footer div ul li #googleplus {
  background-position: 0 -88px;
}

#footer div ul li #googleplus:hover {
  background-position: -44px -88px;
}

#footer div ul li #pinterest {
  background-position: 0 -132px;
}

#footer div ul li #pinterest:hover {
  background-position: -44px -132px;
}

.container.main-body {
  min-height: 505px;
  padding-top: 120px;
}

.view-document h2.text-center {
  float: left;
  padding-left: 75px;
  font-size: 28px;
}

.view-document {
  background: rgba(245, 243, 243, 0.27);
}

p.author_info {
  font-weight: 700;
  padding-left: 60px;
}

p.favorite_document {
  padding-left: 90px;
}

span.user_name {
  color: red;
}

span.document_date, span.document_size {
  color: blue;
}

a.fa.fa-gratipay.btn.btn-default {
  border: solid 1px;
  font-size: 15px;
}

.fav a.btn.btn-default.button-1 {
  border: solid 1px;
}

i.fa.fa-gratipay {
  color: red;
  font-size: 20px;
}

span.fav-count {
  border: solid 1px black;
  padding: 7px 13px;
  font-weight: 700;
  color: white;
  border-radius: 50%;
  background: black;
}

.col-md-4.text-center.benphai {
  padding-right: 67px;
}

p.views_count {
  color: red;
  font-size: 17px;
}

.row.view-two {
  padding-bottom: 50px;
}

div#favorite_form {
  padding-left: 60px;
}

#favorite_form .button-2 {
  border: solid 1px;
}

span#fav_count {
  margin-top: 10px;
  margin-left: 26px;
}

i.fa.fa-thumbs-o-down {
  font-size: 20px;
}

ul#comments {
  list-style: none;
}

ul#comments img.img-responsive {
  width: 39%;
  height: 38%;
  margin: auto;
}

ul#comments li {
  margin: 20px 0px;
}

.col-md-9.right-comment {
  transform: translateX(-17%);
}

.right-comment .row.comment-body {
  padding-left: 4%;
  padding-top: 1%;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

span.time.col-md-5 {
  transform: translateX(-14%);
  font-size: 11px;
  padding-top: 2px;
  color: $gray_footer;
}

input.btn.btn-default.btn_comment {
  width: 15%;
  border: solid 1px;
}

form#new_comment {
  margin-left: 6%;
}

div#comment, div#full_description {
  background: white;
  min-height: 200px;
}

textarea#comment_content {
  border: solid 1px;
  border-radius: 0;
  margin-top: 58px;
  margin-bottom: 20px;
}

.list-comment {
  clear: both;
  margin-top: 75px;
}

.comment-body {
  margin-left: -50%;
  margin-top: 10px;
}

button#btn_download {
  margin-left: 25%;
}
