@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "variables";

footer.footer{
  margin-top: 25px;
  border-top: solid 1px $gray_footer;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 12px;
}
.btn.btn-default {
  border: solid 2px $dark-blue;
  font-size: 12px;
  font-weight: 900;
}

.btn.btn-default:hover {
  background: $dark-blue;
  color: white;
}

h2.text-center {
  color: $dark-blue;
  font-size: 36px;
  font-weight: 700;
  text-shadow: 4px 1px 1px lightblue;
  margin-bottom: 30px;
  text-transform: uppercase;
}

h2.tittle {
  text-align: center;
  font-size: 3em;
  color: $violet_title;
}

form#new_document .btn {
  transform: translateY(10px);
  width: 16.5%;
}

select#document_category_id {
  padding: 6px;
  background: white;
  transform: translateY(19px);
  width: 50%;
}

.product {
  border: solid 2px $light-blue;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

h2.best-sl.text-center {
  margin-top: 8%;
  margin-bottom: 4%;
}

h3.product_name {
  font-weight: 700;
  color: black;
  max-height: 30px;
  min-height: 30px;
}

.product img.img-responsive, .detail-product img.img-responsive {
  height: 280px;
  width: 94%;
  padding-top: 2%;
}

.product .description.text-center {
  word-wrap: break-word;
}

.thumbnail:hover .view-detail-product {
  opacity: 1;
  top: 2px;
}

.view-detail-product {
  position: absolute;
  color: white;
  width: 97%;
  height: 280px;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  padding-top: 60px;
  top: -280px;
  transition: all ease 0.8s;
}

.view-detail-product a {
  color:  white;
}

.view-detail-product i {
  font-size: 16px;
  padding: 12px;
  margin-left: 10px;
  border: solid 1px;
  margin-top: 20%;
  border-radius: 50%;
}

.view-detail-product i:hover {
  background: $sky-blue;
  border: solid 1px $sky-blue;
}

.thumbnail .description.text-center {
  height: 75px;
}

.thumbnail {
  border: none;
  position: relative;
  overflow: hidden;
}

.col-xs-6.col-sm-3.col-md-3.col-lg-3 {
  margin: 20px 0;
}

p.document-user-name {
  min-height: 39px;
}

.navbar-default .navbar-nav > li > a {
  color: white;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 13px;
}

nav.navbar.navbar-default.navbar-fixed-top {
  height: 73px;
  background: $black-smooth;
  border: none;
}

ul.nav.navbar-nav li.navc {
  border-top: 5px solid transparent;
  padding-top: 10px;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 25px;
  margin-right: -10px;
}

ul.nav.navbar-nav li.navc:hover {
  border-color: white;
  color: white;
}

ul.nav.navbar-nav li.navc a:hover {
  color: rgb(204, 204, 204);
}

p.logo_f {
  color: white;
  font-size: 26px;
  font-weight: 700;
  text-shadow: 3px 1px 0.5px $gray_mail_p;
  transform: translateY(12px);
}

.top2 {
  background:rgba(245, 243, 243, 0.27);
}

li.dropdown.navc.open .dropdown-toggle {
  background: #252525;
  color: white;
}

nav.navbar.navbar-default.navbar-fixed-top span {
  color: white;
  font-size: 14px;
  margin-left: 24px;
}

.main-body {
  min-height: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
}

.view-document h2.text-center {
  float: left;
  padding-left: 75px;
  font-size: 28px;
}

.view-document {
  background: rgba(245, 243, 243, 0.27);
}

p.author_info {
  font-weight: 700;
  padding-left: 60px;
}

p.favorite_document {
  padding-left: 90px;
}

span.user_name {
  color: red;
}

span.document_date, span.document_size {
  color: blue;
}

a.fa.fa-gratipay.btn.btn-default {
  border: solid 1px;
  font-size: 15px;
}

.fav a.btn.btn-default.button-1 {
  border: solid 1px;
}

i.fa.fa-gratipay {
  color: red;
  font-size: 20px;
}

span.fav-count {
  border: solid 1px black;
  padding: 7px 13px;
  font-weight: 700;
  color: white;
  border-radius: 50%;
  background: black;
}

.col-md-4.text-center.benphai {
  transform: translateX(-4%);
  padding-top: 3.5%;
}

p.views_count {
  color: red;
  font-size: 17px;
}

.row.view-two {
  padding-bottom: 50px;
}

div#favorite_form {
  padding-left: 60px;
}

#favorite_form .button-2 {
  border: solid 1px;
}

span#fav_count {
  margin-top: 10px;
  margin-left: 2%;
}

i.fa.fa-thumbs-o-down {
  font-size: 20px;
}

ul#comments {
  list-style: none;
}

ul#comments img.img-responsive {
  width: 39%;
  height: 38%;
  margin: auto;
}

ul#comments li {
  margin: 20px 0px;
}

.col-md-9.right-comment {
  transform: translateX(-17%);
}

.right-comment .row.comment-body {
  padding-left: 4%;
  padding-top: 1%;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

span.time.col-md-5 {
  transform: translateX(-14%);
  font-size: 11px;
  padding-top: 2px;
  color: $gray_footer;
  padding-left: 9%;
}

input.btn.btn-default.btn_comment {
  width: 15%;
  border: solid 1px;
}

form#new_comment {
  margin-left: 6%;
}

div#comment, div#full_description {
  background: white;
  min-height: 200px;
}

textarea#comment_content {
  border: solid 1px;
  border-radius: 0;
  margin-top: 58px;
  margin-bottom: 20px;
}

.list-comment {
  clear: both;
  margin-top: 75px;
}

.comment-body {
  margin-top: 4px;
  padding-left: 5%;
  font-size: 18px;
}

button#btn_download {
  margin-left: 25%;
}

div#doc-user img {
  width: 50%;
  height: 145px;
  padding-top: 9px;
  margin-left: 120px;
}

#doc-user span.time {
  border: solid 1px;
  font-size: 12px;
  padding: 2px;
  margin-left: 7px;
}

.row.document-user {
  background: white;
  padding-left: 24px;
}

.top2.user-doc {
  margin-top: -60px;
}

hr.hr {
  border: solid 1px gray;
  width: 86%;
  margin-left: 7%;
}

div#doc-user a.btn {
  margin-top: 26%;
}

div#doc-user h4 {
  font-weight: 700;
}

div#doc-user a {
  color: gray;
}

#doc-user a.btn.btn-default {
  color: $color_green_tea;
}

#doc-user a.btn.btn-default:hover {
  color: white;
}

a.btn.btn-default.delete-doc {
  margin-left: 60px;
  margin-top: -55px;
}

*{
  margin: 0;
  padding: 0;
}

.col-md-5.bacsi {
  position: absolute;
  top: 100px;
  left: 56%;
  z-index: 2;
  overflow: hidden;
  height: 603px;
  opacity: 0;
  -webkit-animation-name:effectimage;
  -webkit-animation-duration:0.5s;
  -webkit-animation-delay:2.3s;
  -webkit-animation-timing-function:linear;
  -webkit-animation-fill-mode:forwards;
}

 .header a.btn.btn-default.nut1 {
  border-radius: 0px;
  padding: 10px;
  color: white;
  background: $color_green;
  margin-top: 50px;
  border: none;
}

.header ul.nav.navbar-nav li a {
  border-right: solid 1px $gray_footer;
  padding-left: 25px;
  padding-right: 25px;
}

.header ul.nav.navbar-nav li:hover {
  color: $color_green;
  border-top: solid 3px $color_green;
  margin-top: -17px;
  padding-top: 14px;
}

.header ul.nav.navbar-nav li a:hover {
  color: $color_green;
}

.header span.char-2 {
  font-size: 28px;
}

.header span.char-1 {
  color: #13bfb1;
  font-size: 28px;
}

.header nav.navbar.navbar-default {
  border: none;
  background: white;
  border-radius: 0px;
  height: 80px;
  padding-top: 14px;
  margin-top: 20px;
  opacity: 0;
  position: relative;
  z-index: 3;
  -webkit-animation-name:effectnav;
  -webkit-animation-duration:0.4s;
  -webkit-animation-delay:2.8s;
  -webkit-animation-timing-function:linear;
  -webkit-animation-fill-mode:forwards;
}

.header a {
  color: #13bfb1;
}

.header p {
  color: white;
}

.contact p {
  position: relative;
  opacity: 0;
  -webkit-animation-name:effectchar;
  -webkit-animation-duration:0.3s;
  -webkit-animation-delay:2s;
  -webkit-animation-timing-function:linear;
  -webkit-animation-fill-mode:forwards;
}

.header a:hover {
  color: $color_red;
}

.header {
  padding-top: 20px;
  position: relative;
  height: 700px;
  margin-top: 73px;
  margin-left: -15px;
  margin-right: -15px;
}

.img-back {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-animation-name:effectbackground;
  -webkit-animation-duration:2s;
  -webkit-animation-timing-function:linear;
  -webkit-animation-fill-mode:forwards;
}
@-webkit-keyframes effectbackground{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@-webkit-keyframes effectchar{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@-webkit-keyframes effectimage{
  0%{
    opacity: 0;
    transform: translateX(300px);
  }
  100%{
    opacity: 1;
    transform: translateX(0px);
  }
}
@-webkit-keyframes effectnav{
  0%{
    opacity: 0;
    transform: translateX(-100px);
  }
  100%{
    opacity: 1;
    transform: translateX(0px);
  }
}

.thanhtruot {
  width: 100%;
  height: 30px;
  border: solid 1px #ccc;
  margin-bottom: 32px;
  margin-top: 20px;

}

.domau{
  height: 30px;
  background: brown;
  -webkit-animation-name : effect;
  -webkit-animation-duration : 5s;
  -webkit-animation-timing-function : linear;
}

@-webkit-keyframes effect{
  0%{
    width: 0%;
  }
  100%{
    width: 100%;
  }
}

a.nut{
  -webkit-animation-name : effectbutton;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function:linear;
  -webkit-animation-delay:5s;
  -webkit-animation-fill-mode:forwards;
  opacity: 0;
}

@-webkit-keyframes effectbutton{
  0%{
    transform: translateY(300px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}

.header {
  font-family: 'Montserrat', sans-serif;
}

span.one-p {
  color: $color_yellow;
  margin-right: 10px;
}

.header-info h1{
  margin-bottom: 39px;
  opacity: 0;
  -webkit-animation-name:effectnav;
  -webkit-animation-duration:0.4s;
  -webkit-animation-delay:3.2s;
  -webkit-animation-timing-function:linear;
  -webkit-animation-fill-mode:forwards;
}
.header-info h3{
  margin-bottom: 39px;
  opacity: 0;
  color: white;
  -webkit-animation-name:effectnav;
  -webkit-animation-duration:0.4s;
  -webkit-animation-delay:3.6s;
  -webkit-animation-timing-function:linear;
  -webkit-animation-fill-mode:forwards;
}
.header-info .nut1{
  margin-bottom: 39px;
  opacity: 0;
  -webkit-animation-name:effectnav;
  -webkit-animation-duration:0.4s;
  -webkit-animation-delay:4.0s;
  -webkit-animation-timing-function:linear;
  -webkit-animation-fill-mode:forwards;
}

.img-back img {
  height: 100%;
}

.header .navbar-default .navbar-nav > li > a {
  color: $gray_mail_p;
}

.col-md-8.text-search i.fa.fa-search {
  position: absolute;
  top: 28%;
  left: 5%;
  font-size: 15px;
  color: black;
}
.col-md-8.text-search {
  position: relative;
}
.button-tag input[type="submit"] {
  display: none;
}
.input-lg {
  height: 40px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
  padding-left: 43px;
  padding-right: 43px;
  border-radius: 23px;
  border: solid 1px $dark-blue;
  margin-bottom: 20px;
  margin-top: 20px;
}

div#alluser a {
  color: $color_violet;
}

.row.best-product .status {
  padding-left: 20px;
}

.row.best-product i.fa.fa-pause {
  color: yellow;
}

.row.best-product i.fa.fa-check-circle-o {
  color: green;
}

.row.best-product i.fa.fa-ban {
  color: red;
}

div#image_document {
  padding-left: 1.5px;
}

.letter {
  position: relative;
  top: -webkit-calc(50% - 60px);
  top: calc(50% - 60px);
  text-shadow: 0px 0px 3px white;
}

.letter:nth-child(1) {
  -webkit-animation: fade 4s infinite 200ms;
  animation: fade 4s infinite 200ms;
}

.letter:nth-child(2) {
  -webkit-animation: fade 4s infinite 400ms;
  animation: fade 4s infinite 400ms;
}

.letter:nth-child(3) {
  -webkit-animation: fade 4s infinite 600ms;
  animation: fade 4s infinite 600ms;
}

.letter:nth-child(4) {
  -webkit-animation: fade 4s infinite 800ms;
  animation: fade 4s infinite 800ms;
}

.letter:nth-child(5) {
  -webkit-animation: fade 4s infinite 1000ms;
  animation: fade 4s infinite 1000ms;
}

.letter:nth-child(6) {
  -webkit-animation: fade 4s infinite 1200ms;
  animation: fade 4s infinite 1200ms;
}

.letter:nth-child(7) {
  -webkit-animation: fade 4s infinite 1400ms;
  animation: fade 4s infinite 1400ms;
}

.letter:nth-child(8) {
  -webkit-animation: fade 4s infinite 1600ms;
  animation: fade 4s infinite 1600ms;
}

.letter:nth-child(9) {
  -webkit-animation: fade 4s infinite 1800ms;
  animation: fade 4s infinite 1800ms;
}

.letter:nth-child(10) {
  -webkit-animation: fade 4s infinite 2000ms;
  animation: fade 4s infinite 2000ms;
}

.letter:nth-child(11) {
  -webkit-animation: fade 4s infinite 2200ms;
  animation: fade 4s infinite 2200ms;
}

.letter:nth-child(12) {
  -webkit-animation: fade 4s infinite 2400ms;
  animation: fade 4s infinite 2400ms;
}

.letter:nth-child(13) {
  -webkit-animation: fade 4s infinite 2600ms;
  animation: fade 4s infinite 2600ms;
}

.letter:nth-child(14) {
  -webkit-animation: fade 4s infinite 2800ms;
  animation: fade 4s infinite 2800ms;
}

@-webkit-keyframes fade {
  50% {
    opacity: 0.02;
  }
}

.one-div .one-div-title.green i.fa.fa-angle-down {
  margin-right: 0px;
  transform: rotate(180deg);
}

.one-div {
  overflow: hidden;
}

.content-animation .one-div .one-div-title {
  font-size: 20px;
  letter-spacing: 2px;
  padding-bottom: 10px;
  padding-top: 10px;
  color: $blue-weight;
  cursor: pointer;
}

.content-animation .one-div .one-div-title:hover i.fa.fa-angle-down {
  margin-right: 0px;
  transition: all ease 0.4s;
  color: green;
}

.content-animation .one-div .one-div-title:hover {
  color: green;
}

.content-animation .one-div .one-div-title i.fa.fa-angle-down {
  float: right;
  margin-top: 8px;
  margin-right: -100px;
  transition: all ease 0.4s;
}

.content-animation .one-div .one-div-content {
  font-size: 12px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.68);
}

.content-animation .one-div {
  border-bottom: solid 1px $gray_footer;
  padding-bottom: 10px;
}

.one-div h3 {
  text-align: center;
  font-size: 20px;
  padding-bottom: 40px;
  color: green;
}

.content-animation .one-div .one-div-content {
  display: none;
}

.one-div .one-div-title.green{
  color: green;
}

select#value_coin:hover {
  background: white;
  color: $blue-weight;
}

.dress-name span {
  float: right;
  color: black;
  position: absolute;
  font-size: 25px;
  letter-spacing: 1px;
  font-weight: 400;
  top: 5%;
  right: 12%;
}

.dress-name {
  margin:30px 0;
  position: relative;
}

.dress-name h3 {
  width: 100%;
  float: left;
  font-size: 25px;
  color: black;
  font-weight: 500;
  padding: 0;
}

.dress-name p {
  margin-top: 16px;
  font-size: 13px;
  line-height: 23px;
  color: $light-gray;
}

.span1 {
  margin: 18px 0;
  padding: 15px 0;
  border-top: 1px solid $gray-border-bottom;
  border-bottom: 1px solid $gray-border-bottom;
}

.span3 {
  margin: 18px 0;
  padding: 15px 0;
  border-top: 1px solid $gray-border-bottom;
  border-bottom: 1px solid $gray-border-bottom;
}

.span4 {
  border-bottom: 1px solid $gray-span;
  padding-bottom: 18px;
}

p.left {
  float: left;
  font-size: 13px;
  color: $black-left;
  letter-spacing: 2px;
  margin-right: 5%;
  width: 40%;
}

p.right {
  float: left;
  font-size: 13px;
  color: $black-left;
  letter-spacing: 2px;
  width: 50%;
}

.content-animation h2 {
  padding-bottom: 25px;
}

input#code {
  border: solid 2px $blue-weight;
  padding: 3px;
}

.one-div.enter-code p.left, .one-div.buy-coin p.left {
  padding-top: 15px;
}

.top2 h2 {
  padding-top: 5%;
}

a.ssb-icon.ssb-facebook {
  transform: translateY(25px);
}

p.tags {
  text-align: left;
  margin: 0px 55px;
}

p.tags a {
  color: gray;
}

p.not_enought_coin {
  color: red;
  width: 60%;
  margin-left: 20%;
}

#messages{
  .top_menu{
    background-color: #fff;
    width: 100%;
    padding: 20px 0 15px;
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  .box_chat{
    position: relative;
    list-style: none;
    padding: 20px 10px 0 10px;
    margin: 0;
    height: 347px;
    overflow: scroll;
  }
  .userhost{
    color: #bf00ff
  }
  .usergest{
    color: #0040ff
  }
  .message-right {
    text-align: right;
    padding: 20px;
    font-size: 20px;
    background: #ffe6cb;
    border-radius: 7px;
    margin-bottom: 10px;
    color: #c48843;
    boder-radius: -2px;
    padding-right: 40px;
  }
  .message-left {
    text-align: left;
    padding: 20px;
    font-size: 20px;
    background: #c7eafc;
    border-radius: 7px;
    margin-bottom: 10px;
    color: #45829b;
    boder-radius: -2px;
    padding-left: 40px;
  }
}

.top_menu {
  background-color: #fff;
  width: 100%;
  height: 100px;
  padding: 20px 0 15px;
  box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
}

.messages {
  position: relative;
  list-style: none;
  padding: 20px 10px 0 10px;
  margin: 0;
  height: 360px;
  overflow: scroll;
}

.messages .message {
  clear: both;
  overflow: scroll;
  margin-bottom: 20px;
  transition: all 0.5s linear;
  opacity: 0;
}

.messages .message .text_wrapper {
  display: inline-block;
  padding: 20px;
  border-radius: 6px;
  width: calc(100% - 85px);
  min-width: 100px;
  position: relative;
}

.bottom_wrapper {
  position: relative;
  width: 100%;
  background-color: #fff;
  padding: 20px 20px;
  position: absolute;
  bottom: -75px
}

.bottom_wrapper .message_input_wrapper {
  display: inline-block;
  height: 50px;
  border-radius: 25px;
  border: 1px solid #bcbdc0;
  width: 77%;
  position: relative;
  padding: 0 20px;
}

.bottom_wrapper .message_input_wrapper .message_input {
  border: none;
  height: 100%;
  box-sizing: border-box;
  width: calc(100% - 40px);
  position: absolute;
  outline-width: 0;
  color: gray;
}

.bottom_wrapper .send_message {
  width: 140px;
  height: 50px;
  display: inline-block;
  border-radius: 50px;
  background-color: #a3d063;
  border: 2px solid #a3d063;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s linear;
  text-align: center;
  float: right;
  transform: translateX(-20px);
}

.action_activity {
  padding-top: 20px;
  padding-left: 20px;
}

@media(max-width: 767px){
  .bottom_wrapper {
    bottom: -90px;
  }
  .bottom_wrapper .send_message {
    transform: translateX(-10px);
  }
  .bottom_wrapper .message_input_wrapper {
    width: 69%;
  }
  button.navbar-toggle {
    transform: translateY(30px);
  }
}
.col-md-9.right-comment {
  text-align: left;
  font-size: 13px;
  padding-left: 6%;
}
.col-md-9.right-comment a {
  font-size: 14px;
}
.review-index {
  background: $green_babana;
  padding: 20px;
  margin-bottom: 20px;
}
.btn-review-1 {
  float: left;
}
.review-document h2.text-center {
  font-size: 28px;
}
.review-document {
  position: relative;
  overflow: scroll;
  max-height: 600px;
}
.header-review {
  background: $pink_green;
  padding: 10px 20px;
  margin-bottom: 27px;
  padding-bottom: 65px;
  color: #30415b;
}
.rating-content {
  padding: 20px;
}
h3.text-left.rss {
  background: $dark-blue;
  color: white;
  padding: 15px;
}
.star_rewview_document h3 {
  padding-top: 15px;
  padding-bottom: 15px;
}
.row.status_upload {
  margin-top: 15px;
}
.category_doc_upload {
  margin-top: 20px;
}
.share-content {
  margin-left: -190px;
  margin-top: 16px;
  margin-bottom: -25px;
  border: solid 1px;
  padding: 25px;
  margin-right: 128px;
}
.share-content-1 {
  margin-top: 16px;
  margin-bottom: -25px;
  border: solid 1px;
  padding: 25px;
}
a.btn.btn-default.btn-share-1 {
  margin-top: 25px;
}
#footer-distributed {
  background-color: $gray_black;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 50px;
  display:block;
}
#footer-distributed .footer-left, #footer-distributed .footer-center, #footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}
#footer-distributed .footer-left {
  width: 35%;
  display: inline-block;
  vertical-align: top;
}
#footer-distributed h3 {
  color: white;
  font: normal 36px "Cookie", cursive;
  margin: 0;
}
#footer-distributed h3 span {
  color: $blue_sky_blur;
}
#footer-distributed .footer-links {
  color: white;
  margin: 20px 0 12px;
  padding: 0;
}
#footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}
#footer-distributed .footer-company-name {
  color: $gray_small;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}
#footer-distributed .footer-center {
  width: 35%;
}
#footer-distributed .footer-right {
  padding-left: 5%;
  width: 20%;
}
.footer-icon {
  display: flex;
}
#footer-distributed .footer-center i {
  background-color: $gray_tea;
  color: white;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}
#footer-distributed .footer-center p {
  display: inline-block;
  color: white;
  vertical-align: middle;
  margin: 0;
}
#footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}
#footer-distributed .footer-company-about {
  line-height: 20px;
  color: $gray_tea_blur;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}
#footer-distributed .footer-company-about span {
  display: block;
  color: white;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}
#footer-distributed .footer-icons {
  margin-top: 25px;
}
#footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: $gray_tea;
  border-radius: 2px;
  font-size: 20px;
  color: white;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}
body {
  height: 100%;
}
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background-color: $white_face;
    border-left: 1px solid $gray_footer;
}
::-webkit-scrollbar-thumb {
    background-color: $gray_footer;
}
::-webkit-scrollbar-thumb:hover {
  background-color: $gray_face;
}
.carousel-inner img {
  width: 100%;
}
html,body {
  height:100%;
}
.carousel,.item,.active {
  height:100%;
}
.carousel-inner {
  height:100%;
}
.fill {
  width:100%;
  height:100%;
  background-position:center;
  background-size:cover;
}
