<div id="organization-request">
  <div id="leave-organization-request">
    <% if @member.present? %>
      <%= render partial: "shared/leave", locals: {member: @member} %>
    <% end %>
  </div>
  <div id="join-organization-request">
    <% if !@member.present? %>
      <%= render partial: "shared/join", locals: {object: @organization} %>
    <% end %>
  </div>
</div>
