<%= form_for([organization, support.member(current_user)],
  html: {method: :delete}) do |f| %>
  <%= button_tag "", class: "btn btn-default btn-destroy" do %>
    <i class="fa fa-thumbs-o-down"></i>
    <% unless member.confirm? %>
      <span><%= t ".unrequest" %></span>
    <% else %>
      <span><%= t ".leave" %></span>
    <% end %>
  <% end %>
<% end %>
