<div class="container organization-page">
  <h1 class="header-page-title"><%= t "organizations.organizations" %></h1>
  <div class="col-md-8 col-sm-8 col-xs-12 row">
    <ul id="list-organizations" class="list-organizations">
      <%= render @organizations %>
    </ul>
  </div>
  <div class="col-md-4 col-sm-4 col-xs-12 row">
    <%= render "organizations/new", locals: {organization: @organization} %>
  </div>
</div>
