<%= text_field_tag :search, params[:search], class: "form-control input-lg",
  id: "search_organization_member_ajax", placeholder: (t "organizations.search") %>
<%= hidden_field_tag :organization_id, @organization.id, id: "search_organization_id" %>
<div class="list-members">
  <%= render partial: "organizations/show_tpl/member",
    locals: {group_members: group_members, organization: @organization} %>
</div>
